#bluLogo {
  height: 60px;
  width: auto;
}

h4 {
  margin-bottom: 5px;
}

h5 {
  vertical-align: text-bottom;
  color: red;
  margin-top: 10px;
}

#deviceIDError, #eventIDError {
  display: none;
}

button#scanButton {
  display: none;
}

.content-wrap {
  padding: 30px 0;
}

h1#main-header {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: bottom;
}

.form-control.warn,
.sm-form-control.warn {
  border-color: #E4BF2C;
}

.bluForm-sex label {
  margin-right: 10px;
  padding-left: 8px;
}

.sm-form-control {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.bluForm-dob.sm-form-control {
  display: inline;
}

#bluForm-dob {
  width: 80%;
}

.optin {
  padding-left: 5px;
  padding-right: 5px;
}

/* -----------------
   Survey Styling
----------------- */

/* Initial Section Hiding */

section#hiddenMenu, div#email-address, div#bluSurvey, section#vapeA, section#vapeB, div#whyNotBlu, section#vapeC, section#smoke, div#pastBrands, section#final {
  display: none;
}

#bluSurvey {
  /*display: none;*/
  position: fixed;
  background-color: white;
  z-index: 9;
  padding: 20px;
  overflow: scroll;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* 1136 x 640 */
#hiddenMenu {
  z-index: 999 !important;
  position: fixed;
  background-color: rgba(55,55,55,.8);
  background-size: cover;
  padding: 30px;
  width: 100%;
  height: 100%;
}

#hiddenMenu > div#devMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 350px;
  width: 310px;
  margin-top: -175px;
  margin-left: -155px;
  background-color: white;
  z-index: 999 !important;
  font-size: 12px;
}

#hiddenMenu div.container.field {
  padding: 30px;
  width: 310px !important;
}

#hiddenMenu input,
#hiddenMenu select {
  width: 100%;
}

#hiddenMenu a#updateEventList,
#hiddenMenu .container {
  margin: 0 auto;
}

#closeButton {
  padding: 10px;
}

#startSurvey {
  margin-top: 20px;
}

#bluSurvey > div {
  margin: 20px 0 20px 0;
}

#bluSurvey section > div {
  margin-bottom: 20px;
}

#bluSurvey h4 {
  margin: 0 0 10px 0;
}

#bluSurvey label {
  padding-left: 8px;
  font-size: 12px;
}